/* ================================================================================
    #Reset
================================================================================ */

* { margin: 0; padding: 0; outline: 0; -webkit-tap-highlight-color: rgba(0, 0, 0, 0); }

header, footer, nav, section, article, aside, figure, details, summary { display: block; }

/* ================================================================================
    #Base
================================================================================ */

body, html { height: 100%; }

body {
    font-family: 'GT Cinetype', courier, monospace;
    font-size: 16px;
    line-height: 1.2;
    color: #282828;
    background: #fff;
    -webkit-text-size-adjust: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/* Fonts */
@font-face {
    font-family: 'GT Cinetype';
    src: url('fonts/gt-cinetype-regular-webfont.woff2') format('woff2'),
         url('fonts/gt-cinetype-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GT Cinetype';
    src: url('fonts/gt-cinetype-light-webfont.woff2') format('woff2'),
         url('fonts/gt-cinetype-light-webfont.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'GT Cinetype';
    src: url('fonts/gt-cinetype-bold-webfont.woff2') format('woff2'),
         url('fonts/gt-cinetype-bold-webfont.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}

a { color: #0038fe; text-decoration: none; cursor: pointer; }
a:hover { text-decoration: underline; }
a img { border: 0; }
img { height: auto; max-width: 100%; font-size: 0; vertical-align: middle; }

h1, h2, h3, h4, h5, h6 { line-height: 1.1; font-weight: normal; }

h1 { font-size: 48px; line-height: 51px; }
h2 { font-size: 40px; line-height: 43px; }
h3 { font-size: 32px; line-height: 35px; }
h4 { font-size: 24px; line-height: 27px; }
h5 { font-size: 20px; line-height: 23px; }
h6 { font-size: 17px; line-height: 20px; }

ul { list-style: disc inside none; }
ol { list-style: decimal inside none; }

/* ================================================================================
    #Form Elements
================================================================================ */

input, textarea, select { 'GT Cinetype', courier, monospace; font-size: 14px; }
textarea { overflow: auto; resize: none; -webkit-overflow-scrolling: touch; }

input,
textarea { box-sizing: border-box; max-width: 100%; -webkit-appearance: none; -moz-appearance: none; appearance: none; border-radius: 0; box-shadow: none; }

input[type="checkbox"] { -webkit-appearance: checkbox; -moz-appearance: checkbox; appearance: checkbox; }
input[type="radio"] { -webkit-appearance: radio; -moz-appearance: radio; appearance: radio; }

input[type="radio"],
input[type="checkbox"] { width: auto; height: auto; padding: 0; border: 0; }

input[type="submit"],
input[type="button"],
input[type="reset"],
button { cursor: pointer; }

button::-moz-focus-inner,
input::-moz-focus-inner { padding: 0; border: 0; }

/* ================================================================================
    # Clear
================================================================================ */

.cl { height: 0; clear: both; }

.cl,
.notext { font-size: 0; line-height: 0; text-indent: -4000px; }

.clearfix { *zoom: 1; }
.clearfix:after { content: ''; font-size: 0; line-height: 0; display: block; clear: both; }

/* ================================================================================
    ================================================================================ */

.shell { width: 1200px; margin: 0 auto; }

/* ================================================================================
    #Elements
================================================================================ */

.header { background: #fff; padding: 35px 100px 0 100px; }

.logo-holder { width: 25%; float: left; }
.logo-holder > a { width: 280px; display: block; }

.nav-holder { width: 71%; padding-left: 4%; float: left; }
.nav-holder ul { list-style-type: none; line-height: 35px; font-size: 20px; margin-top: 5px; }
.nav-holder ul li { display: inline-block; vertical-align: top; }
.nav-holder ul li + li { margin-left: 50px; }
.nav-holder ul li a { color: #282828; text-decoration: none; display: block; position: relative; transition: background .3s ease; }

.nav-holder .nav-main ul li a:after { content: ''; position: absolute; bottom: -4px; left: 0; width: 0; height: 3px; background: #0038fe; transition: width .3s ease; }
.nav-holder .nav-main ul li.current-menu-item a:after,
.nav-holder .nav-main ul li a:hover:after { width: calc(100% + 15px); }

.nav-main { float: left; margin-bottom: 35px; }

/* dropdown */
.nav-dropdown { float: right; }
.nav-dropdown li.menu-item-has-children { position: relative; }
.nav-dropdown li.menu-item-has-children > a { padding: 0 20px 35px 0; position: relative; }
.nav-dropdown li.menu-item-has-children > a:after { content: ''; position: absolute; top: 16px; right: 0; width: 0; height: 0; border-style: solid; border-width: 8px 6px 0 6px; border-color: #282828 transparent transparent transparent; }

.nav-dropdown li > ul { position: absolute; top: 100%; right: -15px; width: 250px; background: #f3f3f3; text-align: right; box-sizing: border-box; border-top: 5px solid #282828; margin: 0; transition: opacity .3s ease, visiblity .3s ease, top .3s ease; opacity: 0; visibility: hidden; }
.nav-dropdown li:hover > ul { opacity: 1;  visibility: visible; z-index: 9999; }

.nav-dropdown li > ul > li { display: block; font-size: 15px; }
.nav-dropdown li > ul > li + li { margin: 0; }
.nav-dropdown li > ul > li > a { display: block; background: #fff; padding: 5px 25px 5px 20px; border-bottom: 1px solid #ccc; }
.nav-dropdown li > ul > li:last-child > a { border-bottom: none; }
.nav-dropdown li > ul > li > a:hover { background: #e8e8e8; transition: background .3s ease; }


/* banner home */
.banner-main { height: 560px; background: #eaeaea url('images/banner-bg.jpg') no-repeat center center; background-size: cover; }
.banner-main .shell { height: 100%; position: relative; }

.banner-cnt-holder { position: absolute; top: 50%; left: 0; right: 0; }
.banner-cnt-holder {
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);

}
.banner-cnt { width: 50%; float: left; padding-right: 25px; box-sizing: border-box; }
.banner-cnt h2 { line-height: 52px; letter-spacing: 1px; padding-bottom: 20px; }
.banner-cnt p { font-size: 18px; line-height: 28px; }

.banner-form { width: 50%; float: left; padding-left: 45px; box-sizing: border-box; }
.banner-form-inner { width: 460px; float: right; }
.banner-form-inner h4 { padding-bottom: 35px; }

.form-container { position: relative; }
.form-container .input-default { width: 100%; display: block; }
.form-container .input-default + .input-default { margin-top: 15px; }
.form-container .input-has-element { padding-right: 40px; }
.form-container .submit-btn { position: absolute; top: 10px; right: 10px; background: transparent; width: 0; height: 0; border-style: solid; border-width: 0 20px 20px 0; border-color: transparent #00afef transparent transparent; transition: border-color .2s ease; }
.form-container .submit-btn:hover { border-color: transparent #0038fe transparent transparent; }

.input-default { width: 300px; height: 40px; display: block; border: none; padding: 0 15px; }

.value-prop img { height: 46px; position: absolute ;}

.unite-icon { left: -66px; top: -7px; }
.value-icon { left: -100px; top: -7px; height: 42px; }
.spark-icon { left: -66px; top: -7px; }

/* project-holder */
.projects-holder { padding: 100px 0; background: #eaeaea url('images/banner-bg.png') no-repeat center center; background-size: cover; }
// .projects-holder:after { content: ''; background: url('images/bg-elements3.png') no-repeat left bottom; background-size: 60%; width: 420px; height: 256px; position: absolute; top: 0; left: 0; }
.projects-holder .heading h2 { letter-spacing: 1px; padding-bottom: 30px; font-weight: bold; }
.project-row + .project-row { margin-top: 50px; }
.project-row .col { width: 50%; float: left; box-sizing: border-box; }

.projects-holder .project-row .col { float: right; }

.project-row-2 .col-link { padding: 80px 0 0 130px; }

.projects-holder .project-row-2 .col { float: left; }

.project-row-3 { padding-top: 40px; }
.project-row-3 .project-box-inner { max-width: 420px; padding-left: 130px; }

.project-box-inner { position: relative; max-width: 420px; }
.project-box-inner > h4 { line-height: 32px; padding-bottom: 20px; }
.project-box-inner > h4 a { color: #282828; text-decoration: underline; transition: color .2s ease; }
.project-box-inner > h4 a:hover { color: #00afef; }
.project-box-inner > p { font-size: 17px; padding-bottom: 20px; }
.project-box-inner > p + a.custom-link { margin-top: 20px; }
.projects-holder .project-box-inner { margin-left: 60px; }

a.custom-link { display: inline-block; font-size: 18px; position: relative; padding-left: 35px; color: #282828; transition: color .2s ease; }
a.custom-link:before { content: ''; position: absolute; left: 0; top: 2px; width: 15px; height: 15px; background: url('images/triangle@x2.png') no-repeat 0 0; background-size: 15px 15px; }
a.custom-link:hover { color: #00afef; text-decoration: none; }

/* how it works */
.how-it-works { background: #0e3e4d; padding: 80px 0; position: relative; }
.how-it-works h2 { color: #fff; padding-bottom: 50px; }

.section-wrapper { padding: 100px 0; }

/* nav struxture */
.section-wrapper { padding: 100px 0; background: url('images/bgel01.png') no-repeat center center; background-size: cover; }

.cnt-container { padding-bottom: 140px; }
.cnt-container h2 { padding-bottom: 50px; font-weight: bold; }

.steps { padding: 0 0 50px 80px; }
.steps ul { list-style-type: none; }
.steps ul li { display: inline-block; vertical-align: top; font-size: 26px; position: relative; }
.steps ul li + li { padding-left: 36px; margin-left: 32px; }
.steps ul li + li:before { content: ''; font-size: 36px; position: absolute; left: -13px; top: 10px; width: 26px; height: 14px; background: url('images/arrow-right@x2.png') no-repeat 0 0; background-size: 26px 14px; }

.menu-list ul { list-style-type: none; }
.menu-list ul li + li { margin-top: 10px; }
.menu-list ul li a { font-size: 20px; text-decoration: underline; }

/* testimonials */
.testimonials .col { width: 50%; float: left; }
.testimonials .col-1 .testim-box { padding-top: 60px; }
.testim-box + .testim-box { margin-top: 100px; }
.testim-box { max-width: 400px; }
.testim-box .quotes { width: 48px; padding-bottom: 20px; }
.testim-box p { font-size: 18px; line-height: 26px; padding-bottom: 20px; }
.testim-box a { color: #282828; font-size: 18px; text-decoration: underline; transition: color .2s ease; }
.testim-box a:hover { color: #00afef; }

/* tabs */
.tabs-section { padding: 100px 0;  }

.tabs-nav { padding-bottom: 100px; }
.tabs-nav ul { list-style-type: none; }
.tabs-nav ul li { display: inline-block; vertical-align: top; font-size: 24px; }
.tabs-nav ul li + li { margin-left: 50px; }
.tabs-nav ul li a { color: #ababad; }
.tabs-nav ul li a:after { content: ''; position: absolute; bottom: 0; left: 0; width: 0; height: 3px; background: #0038fe; transition: width .3s ease; }
.tabs-nav ul li a:hover { text-decoration: none; }
.tabs-nav ul li.active a { color: #282828; position: relative; padding-bottom: 20px; display: block; }
.tabs-nav ul li.active a:after { width: calc(100% + 15px); }
.tabs-nav ul li.active a:hover { text-decoration: none; }

.tabs .tabs-content .tab { display: none; }
.tabs .tabs-content .tab.active { display: block; }
.tabs .tabs-content .row + .row { margin-top: 40px; }
.tabs .tabs-content ul { list-style-type: none; text-align: center; }
.tabs .tabs-content ul li { display: inline-block; padding: 0 30px; margin-bottom: 30px; height: 37px; }
.tabs .tabs-content ul li img { max-height: 100%; }

.footer { background: #04afef; }
.footer-top { padding: 150px 0 110px 0; text-align: center; }
.footer .col { display: inline-block; vertical-align: top;  }
.footer .col + .col { margin-left: 120px; }
.footer .text-inner { max-width: 200px; text-align: left; }
.footer .text-inner h2 { color: #fff; margin-bottom: 15px; }
.footer .footer-logo { width: 34px; display: block; }

.footer .form-container { width: 500px; margin-bottom: 40px; }

ul.social-links { list-style-type: none; text-align: left; }
ul.social-links li { display: inline-block; vertical-align: top; font-size: 24px; }
ul.social-links li + li { margin-left: 40px; }
ul.social-links li a { color: #fff; transition: color .3s ease; text-decoration: none; }
ul.social-links li a:hover { color: #282828; }

.banner-main .social-links a { color: #4a4a4a; margin-top: 20px; }
.banner-main .social-links li + li { margin-left: 20px; }

.footer-bottom { text-align: right; padding: 15px 0; }
.footer-bottom p { color: #fff; }

@media(max-width: 1740px){
    .projects-holder:after { display: none; }
}

@media(max-width: 1499px){
    .header { padding: 35px 50px 0 50px; }
}

@media(max-width: 1260px){
    .shell { width: auto; padding: 0 20px; }

    .banner-cnt { width: 60%; padding-right: 40px; }
    .banner-cnt h2 { font-size: 32px; line-height: 36px; letter-spacing: 0; }

    .banner-form { padding-left: 0; width: 40%; }
    .banner-main { height: 380px; }
    .banner-cnt-holder { position: relative; left: auto; right: auto; }
    .banner-form-inner { width: auto; float: none; }
}

@media(max-width: 1199px){
    .header { padding: 25px 20px 0 20px; }
    .logo-holder > a { width: auto; }

    .nav-holder { width: 68%; padding-left: 7%; }
    .nav-holder ul { line-height: 28px; font-size: 18px; }
    .nav-holder ul li + li { margin-left: 30px; }
    .nav-holder .nav-main ul li.current-menu-item a:after,
    .nav-holder .nav-main ul li a:hover:after { width: 100%; }
    .nav-dropdown li.menu-item-has-children > a { padding-bottom: 25px; }
    .nav-dropdown li.menu-item-has-children > a:after { top: 10px; }
}

@media(max-width: 1024px){
    .logo-holder { width: auto; width: 200px; }

    .nav-holder { width: auto; float: right; padding: 0; }
    .nav-holder ul { margin: 0; font-size: 16px; }
    .nav-holder ul li + li { margin-left: 20px; }
    .nav-dropdown { margin-left: 20px; float: none; display: inline-block; }

    .projects-holder { padding: 40px 0; }
    .project-row-1 .col-text { padding-top: 0; }
    .projects-holder .heading h2 { padding-bottom: 50px; }
    .project-row-2 .col-link { padding: 50px 0 0 90px; }
    .project-row-3 { padding-top: 0; }
    .project-row-3 .project-box-inner { padding-left: 0; }

    .cnt-container { padding-bottom: 80px; }
    .section-wrapper { padding: 60px 0; }
    .steps { padding: 0 0 50px 20px; }
    .steps ul li { font-size: 22px; }

    .testimonials .col { padding: 0 15px; box-sizing: border-box; }

    .footer .col + .col { margin-left: 40px; }
    .footer .form-container { max-width: 420px; }
}

@media(min-width: 768px){
    .nav-holder { display: block !important; height: auto !important; }
}

@media(max-width: 767px){
    .menu-btn span,
    .menu-btn:after,
    .menu-btn:before { transition: all 0.3s; -moz-transition: all 0.3s; -webkit-transition: all 0.3s; -o-transition: all 0.3s; }
    .menu-btn { height: 19px; width: 30px; position: absolute; top: 27px; right: 20px; display: block; z-index: 20; }
    .menu-btn:after,
    .menu-btn:before { content: ''; }
    .menu-btn:after,
    .menu-btn:before,
    .menu-btn span { position: absolute; left: 0; display: block; width: 100%; height: 3px; background: #0038fe; top: 8px; }
    .menu-btn:before { top: 0px; }
    .menu-btn:after { top: 16px; }
    .menu-btn.expanded span { opacity: 0; }
    .menu-btn.expanded:before { margin-top: 8px; -webkit-transform: rotate(45deg); transform: rotate(45deg); }
    .menu-btn.expanded:after { margin-top: -8px; -webkit-transform: rotate(-45deg); transform: rotate(-45deg); }

    .header { padding: 20px 0 0 0; }
    .logo-holder { float: none; padding: 0 0 20px 20px; }

    .nav-holder { float: none; display: none; }
    .nav-holder ul li { display: block; border-bottom: 1px solid #bbb; }
    .nav-holder ul li + li { margin: 0; }
    .nav-holder ul li a { background: #cecece; padding: 5px 20px; }

    .nav-holder .nav-main { float: none; }
    .nav-holder .nav-main ul li a:after { display: none; }

    .nav-dropdown { float: none; margin: 0; display: block; }
    .nav-dropdown li.menu-item-has-children > a { padding: 5px 20px; }
    .nav-dropdown li.menu-item-has-children > ul { display: none; position: relative; visibility: visible; opacity: 1; right: auto; top: auto; width: auto; text-align: left; border-top: none;  }
    .nav-dropdown li.menu-item-has-children > ul li { border-bottom: none; }
    .nav-dropdown li.menu-item-has-children > ul > li > a { padding-left: 35px; border-color: #9c9c9c; background: #b9b9b9;}
    .nav-dropdown li.menu-item-has-children > a:after { top: 15px; right: 20px; }

    .banner-main { height: auto; padding: 30px 0; }
    .banner-cnt-holder {
        -webkit-transform: translateY(0);
        -moz-transform: translateY(0);
        -ms-transform: translateY(0);
        -o-transform: translateY(0);
        transform: translateY(0);

    }
    .banner-cnt { width: auto; float: none; padding: 0 0 30px 0; }
    .banner-cnt h2 { font-size: 26px; line-height: 30px; }
    .banner-cnt p { font-size: 16px; line-height: 22px; }

    .banner-form { width: auto; float: none; padding: 0; }
    .banner-form-inner .form-container { max-width: 400px; }
    .banner-form-inner h4 { font-size: 18px; line-height: 21px; padding-bottom: 20px; }

    .projects-holder .heading h2 { font-size: 26px; line-height: 30px; padding-bottom: 30px; }
    .project-box-inner > h4 { font-size: 22px; line-height: 30px; }
    .project-row .col { width: auto; float: none; }
    .project-row { padding: 20px 10px; }
    .project-row + .project-row { margin-top: 50px; }
    .project-row-1 .col-text { padding-bottom: 20px; }
    .project-box-inner > p + a.custom-link { margin-top: 0; }
    .project-row-2 .col-link { padding: 0; }
    .project-row .col-has-img + .col-link { padding-top: 20px; }

    .how-it-works { padding: 40px 0; }
    .how-it-works h2 { font-size: 26px; line-height: 30px; }

    .section-wrapper { background: none; }
    .cnt-container h2 { font-size: 26px; line-height: 30px; padding-bottom: 30px; }

    .steps { padding: 0 0 50px 0; }
    .steps ul li { padding-left: 36px; margin-left: 20px; font-size: 19px; line-height: 23px; }
    .steps ul li + li { margin: 6px 0 0 20px; }
    .steps ul li + li:before,
    .steps ul li:before { content: ''; font-size: 36px; position: absolute; left: -13px; top: 5px; width: 26px; height: 14px; background: url(images/arrow-right@x2.png) no-repeat 0 0; background-size: 26px 14px; }
    .menu-list ul li + li { margin-top: 13px; }
    .menu-list ul li a { font-size: 18px; line-height: 23px; }
    .menu-list ul li a.custom-link:before { top: 5px; }

    .testimonials .col { float: none; width: auto; padding: 0; }
    .testimonials .col-1 .testim-box { padding-top: 0; }
    .testim-box { max-width: none; padding-right: 60px; }
    .testim-box p { font-size: 17px; line-height: 22px; }
    .testimonials .col + .col,
    .testim-box + .testim-box { margin-top: 50px; }

    .tabs-section { padding: 40px 0; }
    .tabs-nav { padding-bottom: 40px; }
    .tabs-nav ul li { font-size: 20px; display: block; }
    .tabs-nav ul li.active a { padding-bottom: 0; font-weight: bold; color: #0038fe; }
    .tabs-nav ul li a { padding-bottom: 0; }
    .tabs-nav ul li a:after { display: none; }
    .tabs-nav ul li + li { margin: 10px 0 0 0; }

    .tabs .tabs-content ul li { width: 49%; float: none; display: inline-block; padding: 10px; }
    .tabs .tabs-content ul li a {display: block; }
    .tabs .tabs-content .row + .row { margin-top: 0; }

    .footer-top { padding: 40px 0 20px 0; }
    .footer .col + .col { margin-left: 20px; }
    .footer .text-inner { max-width: 140px; }
    .footer .text-inner h2 { font-size: 26px; line-height: 30px; }
    .footer .form-container { max-width: 270px; }
}

@media(max-width: 480px){
    .project-row + .project-row { margin-top: 30px; }

    .testim-box { padding-right: 0; }

    .footer .col { display: block; }
    .footer .col + .col { margin: 35px 0 0 0; }
    .footer .text-inner { max-width: none; }
    .footer .form-container { margin-bottom: 30px; }

    ul.social-links li + li { margin-left: 20px; }

    .projects-holder .project-box-inner { margin-left: 0; }
    .value-prop img { position: relative; margin-bottom: 12px; }

    .unite-icon { left: 0; top: 0; }
    .value-icon { left: 0; top: 0; }
    .spark-icon { left: 0; top: 0; }
}
